@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=100,200,300,400,500,600,700');

body {
	margin: 0;
	font-family: 'sans-serif', lato;
	font-weight: 700;
}
/*....................................................................................................................................header*/
.container-fluid {
	width: 100%;
    background:  #ABCC59;
    height: auto;
}

header {
  background: #ABCC59;
  width: 100%;
}


.logo {
  background: url("/assets/images/eternal-fitness.jpg");
  float: left;
}

/*...................................................................................................................................navigation*/
.navbar {
background: #ABCC59;
}

.nav-item {
text-transform: uppercase;
}

.nav-item a {
color: #4F2683;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 16px;
}
.navbar-light .navbar-nav .nav-link  {
 color: #4F2683;   
}
.nav-link a:hover{
color:  #fafafa;
}
.navbar-toggle .icon-bar {
    background-color: black;
}

/*.......................................................................................................................................hero-image*/
#hero-image {
    height: 600px;
    max-width: 100%;
    background: url("/assets//images/strenght.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    display: block;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 
    position: relative;
}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
/*......................................................................................................................................cover-text*/
#cover-text, #cover-text h2 {
    color: #4F2683;
    font-weight: normal;
    font-size: 130%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
}
#cover-text, #cover-text h3 {
    color: #4F2683;
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: rgba(79, 38, 131, 0.6);
    padding: .5cm .5cm; 
}
#cover-text{
    width: 500px;
    height: 200px;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 80px;
    background-color: rgba(171, 204, 89, .6);
    bottom: 120px;
    right: 400px;
    position: absolute;
} 
/*......................................................................................Why Choose Eternal Section*/
.container-fluid2 {
    background-color: #ABCC59;
    width: 100%;
    height: auto;
}

.why-us {
    text-align: center;
    padding: 30px;
    color: #4F2683;
    
}
h1 {
    font-family: lato;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: #4F2683;
}
h1::after {
    content: '';
    background: #4F2683;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}
h3 {
    color: #4F2683;
    text-transform: uppercase;
    font-size: 22px;
}
p {
    color: #3F4443;
    font-family: lato;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
/*...................................................................................................................................Homepage Classes*/
.container-fluid3 {
    background-color: #fafafa;
    width: 100%;
    height: auto;
}
 h1:hover{
    color: #949494;
}
.shrink img {
transition: 1s ease;
}

.shrink img:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}
.membership-button .btn {
    letter-spacing: 3px;
}
/*...................................................................................................................................Footer*/
h5 {
    font-family: lato;
    list-style: none; 
    font-size: 22px;
    color: #4F2683;
    text-align: center;

}
.location {
    font-family: lato;
    list-style: none; 
    text-align: justify;
}
